@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

:root {
  --color-brand-1: hsl(0, 0%, 100%);

  --font-poppins: "Poppins", sans-serif;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  font-family: var(--font-poppins);
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.NavbarDest {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.NavbarDest-LinkDest {
  color: var(--color-brand-1);
  font-size: 1.6rem;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  opacity: 0.6;
}

.NavbarDest-LinkDest.active {
  opacity: 1;
  border-bottom: 2px solid var(--color-brand-1);
}
